.card {
  margin-top: 3%;
  margin-bottom: 3%;
  background: linear-gradient(to bottom right, #4B9D9D, #55D1D1);
 
}

.card .card-title{
  color: #fdff94;
  text-overflow: clip;
}

.card .card-subtitle {
  color: #fdff94
}

.card hr{
  border-top: 2px solid #40434E;
}

.card .text-main {
  color: #EDEDED;
}

.card .text-bg {
  color: #212329;
  font-weight: bold;
  text-shadow: none;
  font-weight: bold;
  
}

.card .card-link {
  color: #EDEDED;
}
